<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/google-map/google-map.html">


<dom-module id="movimientos-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
      :host {
        display: block;
      },
      google-map {
    height: 400px;
  }

    </style>
    <iron-ajax id="obtenerProductos"
               url="http://services.odata.org/V4/Northwind/Northwind.svc/Products"
               handle-as="json"
               on-response="mostrarProductos">
    </iron-ajax>
    <iron-ajax id="hacerLogin"
               url="http://127.0.0.1:3000/v2/movimientos/"
               method="GET"
               on-response="mostrarProductos">
             </iron-ajax>

    <div>
      <button  on-click="hacerLogin">Invocar</button>
    </div>
    <table class=table table-striped hidden$="{{noTengoProductos}}">
      <thead>
        <th>Id</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Latitud</th>
        <th>Longitud</th>
        <th>Ubicacion</th>
      </thead>
      <tbody>
        <template is="dom-repeat" items="{{productos}}" as="prd">
          <tr>
            <td>{{prd.id}}</td>
            <td>{{prd.fecha}}</td>
            <td>{{prd.importe}}</td>
            <td>{{prd.latitud}}</td>
            <td>{{prd.longitud}}</td>
            <td><google-map latitude="40.4" longitude="-3.7" zoom=11></google-map></td>
          </tr>
        </template>
      </tbody>
    </table>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class MovimientosAPP extends Polymer.Element {
      static get is() { return 'movimientos-app'; }
      static get properties() {
        return {
          etuser: {
            type: String
          },
          etpassword: {
            type: String
          },
          etlogin: {
            type: String
          },
          valuser: {
            type:String
          },
          productos: {
            type: Array
          },
          noTengoProductos: {
            type: Boolean,
            value: true
          }

        };
      }
      hacerLogin() {

        this.$.hacerLogin.generateRequest();
      }
      invocarPeticion() {
        this.$.obtenerProductos.generateRequest();
      }
      mostrarProductos(data) {
        console.log(data.detail.response)
        this.productos = data.detail.response
        this.noTengoProductos = false
      }
      mostrarResultadoLogin(data) {
        console.log(data.detail.response)
      }
    }
    window.customElements.define(MovimientosAPP.is, MovimientosAPP);
  </script>
</dom-module>
