<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_componentes/polymer/lib/elements/dom-repeat.html">

<dom-module id="cuentas-app">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>

      :host {
        display: block;
      }
    </style>
    <iron-ajax id="obtenerProductos"
               url="http://services.odata.org/V4/Northwind/Northwind.svc/Products"
               handle-as="json"
               on-response="mostrarProductos">
    </iron-ajax>
    <iron-ajax id="hacerLogin"
               url="http://localhost:3000/v2/usuarios/login"
               method="POST"
               headers='{"email":"lmerneru@reference.com","password":"havJu4oZ50V"}'
               on-response="mostrarResultadoLogin">
             </iron-ajax>
    <div>
      <label for="">[[etuser]]</label>
      <input type="text" value={{valuser::input}}>
    </div>
    <div>
      <label for="">[[etpassword]]</label>
      <input type="text">
    </div>
    <div>
      <button on-click="hacerLogin">[[etlogin]]</button>
      <button on-click="invocarPeticion">Invocar</button>
    </div>
    <div hidden$="{{noCargados}}" class="col-lg-6">
    <table class="table table-striped">
      <thead>
        <th>Id</th>
        <th>Nombre</th>
      </thead>
      <tbody>
        <template is="dom-repeat" items="{{productos}}">
        <tr>
          <td>{{item.ProductID}}</td>
          <td>{{item.ProductName}}</td>
        </tr>
        </template>
      </tbody>
    </table>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class CuentasApp extends Polymer.Element {
      static get is() { return 'cuentas-app'; }
      static get properties() {
        return {
          etuser: {
            type: String
          },
          etpassword: {
            type: String
          },
          etlogin: {
            type: String
          },
          valuser: {
            type:String
          },
          productos: {
            type: Array
          },
          noCargados: {
            type: Boolean,
            value: true
          }
        };
      }
      hacerLogin() {
        console.log("Login correcto de " + this.valuser)
        this.$.hacerLogin.generateRequest();
      }
      invocarPeticion() {
        this.$.obtenerProductos.generateRequest();
      }
      mostrarProductos(data) {
        console.log(data.detail.response.value)
        this.productos = data.detail.response.value
        this.noCargados = false
      }
      mostrarResultadoLogin(data) {
        console.log(data.detail.response)
      }
    }
    window.customElements.define(CuentasApp.is, CuentasApp);
  </script>
</dom-module>
